In [1]:
import pandas as pd
import numpy as np
# Allows to split your training data and testing data
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score # helps to check performace of model

In [2]:
# Loading dataset into pandas dataframe
credit_card_data = pd.read_csv("D:/Semester 6/Artificial Intelligence/AI Project/creditcard/creditcard.csv")
print(credit_card_data.head())

   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [3]:
# Checking number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [4]:
# Distribution of legit transaction and fraudlent transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [5]:
# Seperating data for analysis
legit = credit_card_data[credit_card_data.Class == 0] # Entire row will be stored in legit
fraud = credit_card_data[credit_card_data.Class == 1]
# Pandas Series

In [6]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [7]:
# Statistical measures about the data
legit.Amount.describe()
# Mean transaction is about $88
# 25% of transaction amount are less than $5.65
# 50% of transaction amount are less than $22

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [8]:
fraud.Amount.describe()
# Mean transaction is about $122.211
# Higher than normal transcation
# Important insight

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [9]:
# Comparing the values of both of these classes
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [10]:
# Dealing with unbalanced data3
# We will use undersampling
# Build sample dataset containing similar distribution of normal transcations and fraud transaction
# Take randomly 492 transaction from legit one
# Then we will have 492 normal transaction and 492 fraudlent transcation
# Very good dataset
# We can make better prediction using Machine Learning
legit_sample = legit.sample(n=492)
# Random 492 data points

In [11]:
# Concatenating two data frames (legit_sample and fraud)
new_dataset = pd.concat([legit_sample, fraud], axis=0)
# Frames will be added one by one
# axis = 0 row wise
# axis = 1 column wise
# all 492 will be added below legit_sample

In [12]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23342,32709.0,-7.275798,-3.823048,-0.104968,-1.420308,-1.274395,-1.112572,-0.050647,-0.188273,-0.154364,...,-1.343771,0.637910,1.711037,0.441418,1.420890,-0.057235,-0.341977,3.762568,117.00,0
272554,165147.0,-0.254951,1.092239,-0.363683,-0.704313,0.425412,-0.775182,0.661804,0.257192,-0.181694,...,-0.259328,-0.702003,0.050873,-0.660474,-0.367298,0.183096,0.119775,0.028062,8.98,0
57795,48081.0,1.118416,0.117470,0.608233,0.957783,-0.336603,-0.075580,-0.212453,0.211703,0.025365,...,-0.208806,-0.698563,0.172317,-0.077083,0.137884,-0.677077,0.032674,0.017879,12.00,0
116933,74483.0,-0.839407,0.909954,1.432280,-0.063504,0.134145,-0.476538,0.580781,0.010431,-0.205408,...,-0.183730,-0.494769,0.146621,0.043858,-0.266515,0.081316,0.015926,0.132069,8.99,0
111722,72341.0,1.078354,-0.051279,1.309783,1.370947,-1.173026,-0.622327,-0.503163,0.040633,0.545332,...,0.140599,0.321573,0.008632,0.695678,0.259310,-0.383621,0.051007,0.049290,45.00,0

In [13]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [14]:
new_dataset.groupby('Class').mean()
# Nature of dataset is not changed

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96274.752033,0.013745,0.106406,0.036837,-0.109290,0.086335,-0.014262,0.044751,0.093268,-0.027948,...,0.003259,-0.013296,-0.012667,-0.013235,0.006236,0.035859,-0.001529,-0.017172,-0.013463,65.789370
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
# Split our dataset into features and targets
# Features in x and targets in Y
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [16]:
print(Y)

23342     0
272554    0
57795     0
116933    0
111722    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [17]:
# Split data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)
# Features in X_train and X_test and corresponding labels in Y_train and Y_test
# stratify = Y : Equally distributed two classes in X_train and X_test

In [18]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [19]:
# Model training -> Logistic Regression
# For Binary Classification 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [22]:
# Training the logistic regression model with training data
# Will fit out data in model
from sklearn.model_selection import GridSearchCV

# Define hyperparameters to tune
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],  # Regularization parameter
    'penalty': ['l1', 'l2'],  # Regularization type
    'solver': ['liblinear', 'saga']  # Algorithm to use in optimization problem
}

# Initialize logistic regression model
logistic_model = LogisticRegression(max_iter=10000)

# Grid search cross-validation
grid_search = GridSearchCV(estimator=logistic_model, param_grid=param_grid, cv=5, scoring='accuracy')

# Training the grid search model
grid_search.fit(X_train_scaled, Y_train)

# Best hyperparameters found
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)
best_model = LogisticRegression(**best_params, max_iter=1000)
best_model.fit(X_train_scaled, Y_train)

# Accuracy on training data
train_accuracy = best_model.score(X_train_scaled, Y_train)
print("Accuracy on training data:", train_accuracy)

# Accuracy on test data
test_accuracy = best_model.score(X_test_scaled, Y_test)
print("Accuracy on test data:", test_accuracy)

Best Hyperparameters: {'C': 1, 'penalty': 'l1', 'solver': 'liblinear'}
Accuracy on training data: 0.9606099110546379
Accuracy on test data: 0.9289340101522843